@charset "UTF-8";

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#222;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-darker</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#333;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-dark</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#555;"><br><br><br><br><br></div>
      <pre class="text-center">$gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#999;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-light</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#eee;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-lighter</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#428bca;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-primary</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5cb85c;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-success</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5bc0de;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-info</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f0ad4e;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-warning</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d9534f;"><br><br><br><br><br></div>
      <pre class="text-center">$brand-danger</pre>
    </div>

  </div>
</div>
*/


/*doc
---
title: Device Lab colors
name: b-devicelab-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#1d1d1b;"><br><br><br><br><br></div>
      <pre class="text-center">$heavy-metal</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#575756;"><br><br><br><br><br></div>
      <pre class="text-center">$chicago</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#b1b1b1;"><br><br><br><br><br></div>
      <pre class="text-center">$silver-chalice</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#c6c6c5;"><br><br><br><br><br></div>
      <pre class="text-center">$gray-nickel</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d9d9d9;"><br><br><br><br><br></div>
      <pre class="text-center">$alto</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#ececec;"><br><br><br><br><br></div>
      <pre class="text-center">$gallery</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f5f5f5;"><br><br><br><br><br></div>
      <pre class="text-center">$wild-sand</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#0b3853;"><br><br><br><br><br></div>
      <pre class="text-center">$tarawera</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#244153;"><br><br><br><br><br></div>
      <pre class="text-center">$blue-dianne</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#1d70b7;"><br><br><br><br><br></div>
      <pre class="text-center">$fun-blue</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#1c8dd3;"><br><br><br><br><br></div>
      <pre class="text-center">$curious-blue</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#5eabda;"><br><br><br><br><br></div>
      <pre class="text-center">$shakespeare</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#2da05e;"><br><br><br><br><br></div>
      <pre class="text-center">$eucalyptus</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#2dab66;"><br><br><br><br><br></div>
      <pre class="text-center">$jungle-green</pre>
    </div>

  </div>
</div>
*/

$heavy-metal: #1d1d1b;
$chicago: #575756;
$silver-chalice: #b1b1b1;
$gray-nickel: #c6c6c5;
$alto: #d9d9d9;
$gallery: #ececec;
$wild-sand: #f5f5f5;
$tarawera: #0b3853;
$blue-dianne: #244153;
$fun-blue: #1d70b7;
$curious-blue: #1c8dd3;
$shakespeare: #5eabda;
$eucalyptus: #2da05e;
$jungle-green: #2dab66;
