{% extends "layout.twig" %}

{% block pagetitle %}index{% endblock %}

{% block page %}
  <h1>Fabulous Twig template!</h1>
  <table data-tablesaw-sortable>
    <thead>
        <tr>
            <!-- Default column -->
            <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Rank</th>
            <th data-tablesaw-sortable-col>Movie Title</th>
            <th data-tablesaw-sortable-col>Year</th>
            <th data-tablesaw-sortable-col><abbr title="Rotten Tomato Rating">Rating</abbr></th>
            <!-- Unsortable column -->
            <th>Reviews</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>asd</td>
        <td>23</td>
        <td>45</td>
        <td>64</td>
        <td>27</td>
      </tr>
      <tr>
        <td>asd</td>
        <td>45</td>
        <td>73</td>
        <td>15</td>
        <td>36</td>
      </tr>
    </tbody>
  </table>
{% endblock %}