/*doc
---
title: Banner-Map
name: banner-map
category: Components - Content-Banners
---

To do --> Add a map

```html_example
<div class="map-bg">
</div>
```

*/

.map-bg{
  background: url(../../img/map-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 400px; 
}