/*doc
---
title: Banner-Subscribe
name: banner-subscribe
category: Components - Content-Banners
---


```html_example
<div class="row row-banner-subscribe">
  <div class="col-md-4">
    <img src="../../img/device-case.svg" onerror="this.onerror=null; this.src='../../img/device-case.png'" alt="alt" />
  </div>
  <div class="col-md-8">
    <h3 class="h2">Stay tuned the device case<br>is coming at you !</h3>
    <p>Subscribe & we’ll tell you when it’s ready </p>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your email...">
      </div>
      <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
  </div>
</div>
```

*/

.row-banner-subscribe{
  padding: 40px 0 40px 0;
  background: url(../../img/subscribe-bg.jpg) no-repeat center center;
  background-size: cover;
  color: $chicago;
  img{
    padding: 20px 0;
  }
  h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  form{
    margin-top: 12px;
    input{
      padding: 22px 100px 22px 15px;
      font-size: 13px;
    }
    button{
      padding: 12px 35px;
      font-size: 13px;
      transition: all .1s ease-in-out;
      &:hover{
        background-color: $eucalyptus;
        border-color: $eucalyptus;
      }
    }
  }
}


@media (min-width: 768px) {
  .row-banner-subscribe{
    form{
      padding: 0;
      button{
        margin-left: -6px;
      }
    }
  }
}