/*doc
---
title: Banner-Footer
name: banner-footer
category: Components - Content-Banners
---

Reprendre footer site AS

```html_example
<div class="footer-bg">
  <p>© 2014 Antistatique</p>
</div>
```

*/

.footer-bg{
  background: url(../../img/as-footer-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 150px;
  width: 100%;
  display: table;
  p{
    color: #fff;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
  }
}