/*doc
---
title: Banner-WishList
name: banner-wishlist
category: Components - Content-Banners
---


```html_example
<div class="row row-banner-wishlist">
  <div class="col-md-4">
    <h3 class="h2">Our wish-list</h3>
    <p>Give us your old phone <br> or tablet </p>
    <button type="button" class="btn btn-default">Give it</button>
  </div>
  <div class="col-md-8">
    <p>Voici la liste des appareils qui peuvent bien nous servir. Hésitez pas à cliquer sur le device que vous avez à nous passer !</p>
    <ul>
      <li>- IPhone 6</li>
      <li>- Iphone 12 Plus</li>
    </ul>
  </div>
</div>
```

*/

.row-banner-wishlist{
  padding: 40px 0 30px 0;
  color: $chicago;
  .col-md-4{
    margin-bottom: 25px;
    h3{
      margin-top: 0;
    }
    p{
      position: relative;
      margin-bottom: 40px;
      &:after{
        content: '';
        position: absolute;
        height: 3px;
        width: 40px;
        background-color: $alto;
        left: 0;
        bottom: -15px;
      }
    }
    .btn{
      font-size: 13px;
      font-family: "Source Sans Pro", sans-serif;
      background: transparent;
      border-color: $fun-blue;
      color: $fun-blue;
      border-radius: 2px;
      transition: all .1s ease-in-out;
      width: 150px;
      &:hover{
      background: $fun-blue;
      border-color: $fun-blue;
      color: #fff;
      }
    }
  }
  .col-md-8{
    h4{
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    ul{
      list-style: none;
      margin-top: 25px;
      margin-left: 0;
      padding: 0;
      li{
        margin-bottom: 15px;
        color: $heavy-metal;
        font-size: 15px;
      }
    }
  }
}