@charset "UTF-8";

/*doc
---
title: Jumbotron
name: a-jumbotron
category: Components - Jumbotron
---

```html_example
<div class="example-background">

<div class="jumbotron text-center">
  <h1 class="h4">Open Device Lab in Lausanne</h1>
  <p>Lausanne DeviceLab is provided by <b>Antistatique</b> for local web developers so they can test their work on several devices and make the mobile web a better place.</p>
  <a class="btn btn-play" href="#">Watch Video</a>
</div>

</div>
```
*/

.jumbotron {
  font-weight: 100;
}