/*doc
---
title: Meeting-Booking
name: meeting-booking
category: Components - Book a date
---

To do --> Add a calendar plugin

```html_example
<div class="book-a-date">
  <div class="row row-meeting-booking">
    <div class="col-md-4">
      <h2 class="h1">1.When ?</h2>
      <p>We’re open from Monday to Friday.</p>
    </div>
    <div class="col-md-4">
      <h2 class="h1">2.What time ?</h2>
      <p>The agency is open from 8am to 5pm.</p>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          HH <span>&#709;</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">08</a></li>
          <li><a href="#">09</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">11</a></li>
          <li><a href="#">12</a></li>
          <li><a href="#">13</a></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">16</a></li>
          <li><a href="#">17</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          MM <span>&#709;</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">00</a></li>
          <li><a href="#">10</a></li>
          <li><a href="#">20</a></li>
          <li><a href="#">30</a></li>
          <li><a href="#">40</a></li>
          <li><a href="#">50</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="h1">3.Be creative!</h2>
      <p>Tell us shortly what you’re working on.</p>
      <textarea class="form-control" rows="3" placeholder="What’s the point ?"></textarea>
      <button type="submit" class="btn btn-primary">Book</button>
      <p class="booking-confirmed">We’ll email you to confirm your booking. Thank you!</p>
    </div>
  </div>
</div>
```

*/

.row-meeting-booking{
  .col-md-4{
    // background: rgba(255,0,67,.3);
    h2{
      // font-size: 33px;
      color: $chicago;
    }
    p{
      color: $gray-light;
      font-size: 12px;
    }
    textarea{
      resize: none;
      height: 150px;
      margin-top: 30px;
      color: $chicago;
      padding: 12px;
      &:focus{
        box-shadow: none;
      }
      &:hover{
        border-color: $silver-chalice;
      }
    }
    .btn-primary{
      font-family: "Source Sans Pro", sans-serif;
      transition: all .1s ease-in-out;
      padding-right: 65px;
      padding-left: 65px;
      margin-top: 20px;
      &:hover{
        background-color: $matisse;
        border-color: $matisse;
      }
    }
    .booking-confirmed{
      color: $silver-chalice;
      font-size: 13px;
      margin-top: 15px;
      line-height: 1.5;
    }
    .btn-group{
      margin-top: 20px;
      .btn-default{
        background: transparent;
        border-color: $alto;
        color: $gray-light;
        font-weight: 300;
        width: 85px;
        padding-top: 13px;
        padding-bottom: 13px;
        box-shadow: none;
        text-align: left;
        &:hover{
          border-color: $silver-chalice;
        }
        &:focus{
          border-color: $silver-chalice;
          border-bottom: 1px solid $alto;
        }
        span{
          font-size: 12px;
          padding-left: 25px;
        }
      }
      .dropdown-menu{
        min-width: initial;
        width: 85px;
        text-align: center;
        margin-top: 0;
        border-top: none;
        box-shadow: none;
        border-color: $silver-chalice;
        font-size: 12px;
      }
    }
  }
}